.App {
  height: 100%;
  overflow: auto;
  display: flex;
}

.Counter {
  font-size: 6em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calendar {
  height: 100%;
  overflow: auto;
}